 :root {
    --primary-text-color:#434455;
    --navy-blue-color:#2E2F42;
    --accent-color:#4D5AE5;
    --primary-bg-color:#FFFFFF;
    --cloud-color: #F4F4FD;
    --color-button: #404BBF;
    --color-conflower: #E7E9FC;
    --color-slate: #8E8F99;
    --color-ocean: #404BBF;
}
h1,h2,h3,h4,h5,h6,p, ul {
    margin: 0;
    padding: 0;
}
.img {
    display: block;
}
.botton {
    cursor: pointer;
}
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;
}
.modal {
    position: absolute;
    max-width: 408px;
    height: 584px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #FCFCFC;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 24px;
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
}

    

.mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    margin-top: auto;

    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.header-page {
    background: var(--primary-bg-color);
    border-bottom: 1px solid var(--color-conflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: var(--navy-blue-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-web {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
} 
.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 22px;
    line-height: 0;
    margin-left: auto;
}
.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__close-btn {
    position: absolute;
    top: 24px;
    right: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-conflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-sadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-link-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
    text-decoration: none;
} 
.mobile-link-menu:hover,
.mobile-link-menu:focus {
    color: var(--color-ocean);
}
.mobile-navigation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    
}
.mobile-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.mobile-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--primary-text-color);  
}
.mobile-tel:hover,
.mobile-tel:focus {
    color: var(--accent-color);
}
.mobile-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
}
.mobile-email:hover,
.mobile-email:focus {
    color: var(--accent-color);
}
.mobile-social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 56px;

}

.mobile-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--accent-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: var(--cloud-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.prim {
    background-color: var(--color-conflower);
    color: var(--accent-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69px;
    text-align: center;
    border: 1px solid var(--color-conflower);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.prim:hover,
.button.prim:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 320px) {
    .hero {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        max-width: 767px;
        text-align: center;
        padding-top: 112px;
        padding-bottom: 112px;
        background-position: center;
        background-color:rgba(46, 47, 66, 0.7);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mobile.webp);
        }
    
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        .hero {
          background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero-mobile@2x.webp);
        }
    }
    .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--navy-blue-color);
        margin-bottom: 8px;
    }
    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }
    .section-team {
        background-color: var(--cloud-color);
    }
    .section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--navy-blue-color);
        text-align: center;
        margin-bottom: 72px;
    }
    .team-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--navy-blue-color);
    }
    .card-text-title {
        padding-top: 32px;
        padding-bottom: 32px;
        text-align: center;
        margin-bottom: 8px;
    }
    .text-card {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        margin-bottom: 8px;
    }
    .social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--accent-color);
    }
    .social-list {
        display: flex;
        justify-content:center;
        gap: 24px;
    }
    .social-list-icon {
        fill: var(--cloud-color);
    }
    .our-team {
        background: var(--primary-bg-color);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        flex-basis: calc((100% - 24px)/2);
    }
    .our-team img {
        width: 100%;
    }
    .img {
       display: block;
        max-width: 100%;
        height: auto;
    }
    .customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    
    .customers-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--navy-blue-color);
        margin-bottom: 72px;
    }
    .customers-items-icons {
         display: flex;
         align-items: center;
         justify-content: center;
         color: #AFB1B8;
         width: 190px;
         height: 88px;
         border: 1px solid var(--color-slate);
         border-radius: 4px;
         transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }   
    .customers-items-icons:hover,
    .customers-items-icons:focus {
         border: 1px solid var(--accent-color);   
    }
    .customers-icons {
        fill: var(--color-slate);
    }
    .customers-icons svg{
        fill: currentColor;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #AFB1B8;
    }
    .customers-items-icons:hover svg,
    .customers-items-icons:focus svg {
        fill: var(--accent-color);
    }       
    .footer {
        background-color: var(--navy-blue-color);
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .logo-footer {
        color: var(--cloud-color);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        line-height: 1.16;
        text-decoration: none;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
        display: block;
    }
    .logo-web-footer {
        color: var(--accent-color);
        font-family: Raleway, sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
    }
    .footer-text {
        color: var(--color-conflower);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
    }
    .social-media {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-bg-color);
        margin-bottom: 16px;
    }
    .footer-media {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
    .footer-list-icon {
        fill: var(--cloud-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    
    .footer-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FFFFFF1A;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-list-icon:hover,
    .footer-list-icon:focus {
        fill: var(--cloud-color);
    }
    .footer-list-link:hover,
    .footer-list-link:focus {
        background-color: #31D0AA;
    }
    
    .subscribe-input {
        width: 100%;
        max-width: 396px;
        height: 40px;
        background-color: var(--navy-blue-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        margin-top: 16px;
        padding-left: 16px;
        color: #FFFFFF;
    }
    .subscribe-input::placeholder {
        padding-top: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
    }
    .subscribe-btn-img {
        fill: var(--primary-bg-color);   
    }
    .subscribe-btn-input {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-bg-color);
    }
    .subscribe-btn {
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 8px 24px;
        background: var(--accent-color);
        border: none;
        text-decoration: none;
        border-radius: 4px;
        width: 165px;
        height: 40px;
        cursor: pointer;
        color: var(--primary-bg-color);
        margin-top: 15px; 
    }
    .subscribe-icon {
        fill: currentColor;
    }
    
}
@media screen and (max-width: 480px) {
    .modal {
        width: 90vw;
        height: auto;
    } 
}
@media screen and (min-width: 480px) {
    .container {
        width: 428px;
    }
}

/*0px-767px*/

@media screen and (max-width: 767px) {
    .header-page {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .site-nav {
        display: none;
    }
    .contact {
        display: none;
    }  
    .hero-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-bg-color);
        margin-bottom: 72px;
    }   
    .item-icon {
        margin-top: 96px;
        margin-bottom: 72px;
    }
    .title {
        text-align: center;
    }
    .item-icon-benefits {
        display: none;
    }
    .section-placeholder {
        display: none;
    }
    .mobile-team {
        padding-top: 96px;
        padding-bottom: 128px;
    }
    .feature-list-mobile {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 72px;
    }
    .mobile-customers-items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
        justify-content: center;
    }
    .mobile-client {
        height: 88px;
        width: 190px;
        flex-basis: calc((100% - 16px) / 2);
    }
    .footer-position {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mobile-footer {
        display: block;
        text-align: center;
        margin-bottom: 72px;
    }
    .logo-footer,
    .mobile-footer-text,
    .footer-link,
    .subscribe-btn { 
        margin-left: auto;
        margin-right: auto;
    }
    .mobile-footer-text {
        text-align: justify;
    }
    .social-media,
    .subscribe-btn-input {
        text-align: center; 
    }
    .footer-link {
        margin-bottom: 72px; 
    }
    .mobile-portfolio {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .button-nav {
        margin-bottom: 48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 24px;
        width: 263px;
    }
    .cards-img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 48px;
    }
    
}
/*for tablet*/
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        }
    .logo {
        margin-right: 123px;
    }    
    .mobile-menu {
        display: none;
    }
    .mobile-menu-open {
        display: none;
    }
    .nav {
        display: flex;
        align-items: center;
    }
    .site-nav {
        display: flex;
        align-items: center;
    }
    .site-nav .link {
        color: var(--navy-blue-color);
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .site-nav .link:hover,
    .site-nav .link:focus {
        color: var(--primary-text-color);
    }
    .site-nav .link:active {
        color: var(--accent-color);
    }
    .navigation:not(:last-child) {
        margin-right: 40px;
    }
    .link-menu.current {
        color: var(--accent-color);
    }
    .link-menu.current::after {
        opacity: 1;
    }
    .link-menu {
        color: var(--navy-blue-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        position: relative;
        display: block;
        text-decoration: none;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .link-menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
        border-radius: 2px;
        background-color: var(--accent-color);
        display: block;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .link-menu:hover::after,
    .link-menu:focus::after {
        opacity: 1;
    }
    .contact {   
        align-items: center;
    }
    .contact .contacts {
        color: var(--primary-text-color);
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contact .contacts:hover,
    .contact .contacts:focus {
        color: var(--accent-color);
    }
    .hero {
        padding-top: 112px;
        padding-bottom: 108px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
        max-width: 1199px;
        background-color: rgba(46, 47, 66, 0.7);;
        background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero-tablet.webp);
        background-size: cover;
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        .hero {
          background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero-tablet@2x.webp);
        }
    }
    .hero-title {
        max-width: 494px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: #FFFFFF;
    }
    .section-benefits {
        padding-left: 0;
        padding-right: 0;
        padding-top: 96px;
        padding-bottom: 96px; 
    }
    .button-nav {
        display: flex;
        text-align: center;
        justify-content: center;
        column-gap: 24px;
    }
    .section-portfolio {
        padding-top: 64px;
        padding-bottom: 96px;
    }
    .cards-img {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        margin-top: 64px;
    }
    .cards {
        flex-basis: calc((100% - 24px) / 2);
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .item-icon-benefits {
        display: none;
    }
    
    .benefits {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .item-icon {
        flex-basis: calc((100% - 24px) / 2);
    }
    .section-placeholder {
        display: none;
    }
    .mobile-team {
        padding-top: 96px;
        padding-bottom: 104px;
    }  
    .feature-list-tablet {
        display: flex;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
        justify-content: center;
    }
    .tablet-customers-items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        justify-content: center;
    }
    .customers-items-icons {
        width: 168px;
        height: 88px;
    }
    .subscribe {
        display: block; 
    }
    .subscribe-footer {
        display: flex;
        gap: 24px;
    }
    .subscribe-input {
        width: 264px;
    }
    .footer {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-position {
        display: flex;
        flex-wrap: wrap;
        padding-left: 108px;
        padding-right: 164px;
        gap: 24px;
        row-gap: 72px;
    }
}
/*for desktop*/
@media screen and (min-width: 1200px) {
    .container {
       width: 1158px;
    }
    .logo {
        margin-right: 76px;
    }
    .contact {
        display: flex;
        margin-left: auto;
    }
    .adress:not(:last-child) {
        margin-right: 40px;
    }
    .text {
        font-weight: 400;
    }
    .hero {
        text-align: center;
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
        background-position: center;
        background-color: var(--navy-blue-color);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        .hero {
          background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/people-office@2x.webp);
        }
    }
    .section-benefits {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .benefits {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .item-icon {
        flex-basis: calc((100% - 72px) / 4);
    }
    .item-icon-benefits {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        background: var(--cloud-color);
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .section-placeholder {
        padding-bottom: 120px;
    }
    .placeholder {
        display: flex;
        justify-content: space-between;  
    }
    
    .examples {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid var(--color-conflower);
    }
    .our-team {
        flex-basis: calc((100% - 72px)/4); 
    }
    img {
        width: 100%;
        height: auto;
    }
    .mobile-team {
        padding-top: 120px;
        padding-bottom: 120px;
    } 
    .feature-list {
        display: flex;
        justify-content: space-between;
    }
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    } 
    .customers-items {
        display: flex;
        justify-content:center;
        gap: 24px;
    }
    .customers-items-icons {
        width: 168px;
        height: 88px;
    } 
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer-position {
        display: flex;
        align-items: baseline;
        
    }   
    .footer-text {
        margin-right: 120px;
    }
    .footer-link {
        margin-right: 80px;
    }
    .subscribe {
        display: block; 
    }
    .subscribe-footer {
        display: flex;
        gap: 24px;
    }
    .subscribe-input {
        width: 264px;
    }
    .section-portfolio {
        padding-top: 96px;
        padding-bottom: 120px;
    }
    .cards {
        flex-basis: calc((100% - 48px) / 3);
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    letter-spacing: 0.04em;
    font-family: inherit;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 170px;
    display: inline-block;
    border: 1px solid transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.button.primary:hover,
.button.primary:focus {
    background-color: var(--accent-color);
}
.button.primary:active {
    background-color: var(--color-button);
}
/*


.section-benefits {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.benefits {
    display: flex;
    column-gap: 24px;
}
.item {
    flex-basis: calc((100% - 72px) / 4);
}

.benefits .title {
    align-items: center;
}

.benefits .title,
.feature-list .title {
    color: var(--navy-blue-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.feature-list .title {
    text-align: center;
}
.item-icon-benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: var(--cloud-color);
    border-radius: 4px;
    margin-bottom: 8px;
}

.benefits .text,
.feature-list .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.feature-list .text {
    text-align: center;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
}
.social-list {
    display: flex;
    justify-content:center;
    gap: 24px;
}
.social-list-icon {
    fill: var(--cloud-color);
}

.cards-img {
    display: flex;
    flex-wrap: wrap;
    margin-top: -48px;
    margin-left: -24px;
}
.portfolio-images,
.studio-images {
    display: block;
}*/
.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}
.cards-portfolio {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    background:var(--primary-bg-color);
    border: 0.5px solid #F4F4FD;
}

.cards-img .title {
    color: var(--navy-blue-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
} 
.cards-img .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 164px;

}
.portfolio-link {
    text-decoration: none;
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translate(0, 0);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%,-50%) scale(1.3);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-conflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: box-sadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.modal-form {
    display: flex;
    flex-direction: column;

}
.modal-name {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 16px;

}
.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    color:#000000;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-input-icon {
    fill: var(--accent-color)
}
.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-imput-wrapper {
    display: block;
    position: relative;
    max-width: 360px;
    height: 40px;
    margin-bottom: 8px;
    color: var(--navy-blue-color);
}
.modal-form-input-desc {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--color-slate);
    margin-bottom: 4px;
}

.modal-form-massage {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-massage:focus {
    border-color: var(--accent-color);
    outline: none;
}
.modal-form-massage::placeholder {
    padding-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    margin-bottom: 24px;
}
.modal-form-check-desc::before {
    display: block;
    content:'';
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1.25px solid var(--navy-blue-color);
    border-radius: 2px;
    cursor: pointer;
}
.modal-form-check:checked + .modal-form-check-desc::before {
    background-color: var(--accent-color);
    background-image: url(../images/Property\ 1=click.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.modal-form-check:focus + .modal-form-check-desc::before {
    border: 1.25px solid #404BBF;
    border-radius: 2px;
}
.modal-form-submit {
    align-self: center;
    min-width: 169px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: var(--accent-color);
    border: var(--accent-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--accent-color);
} 
